* {
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo_nuevosingresos{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    margin-bottom: 30px;
}
.ingresos{
  background-color: rgb(198, 198, 198);
  width: 80%;
  height: auto;
  margin: auto;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
 width: 30%;
 height: 300px;
 margin: 10px;
 border: solid 3px black;
 border-radius: 16px;
 background-color: white;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-top: 20px;
}

.titulo_destacados{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: 30px;
}
.destacados{
    background-color: rgb(198, 198, 198);
    width: 80%;
    height: auto;
    margin: auto;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px; 
  }
  
  .card2{
   width: 30%;
   height: 300px;
   margin: 10px;
   border: solid 3px black;
   border-radius: 16px;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 20px;
  }